/* basic style */
html {
  font-size: 62.5%;
}

/* basic class */
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.font-bold {
  font-weight: bold;
}
.wrap {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
